/*.header { #4b3e4d };
.textoDestacado { #1e8c93 };
.Fondo { #dbd8a2 };
.Links { #c4ac30 };
.Titulos { #d74f33 };
*/
body{
    margin: 0;
    

}
article{
    margin-left: 16px;
    float: left;
}
header{
    background:#4b3e4d;
    overflow: hidden;
    margin: 0;
    padding: 0;  
    position: sticky; 
}
h1{
    text-align: center;
    color: #dbd8a2;
    font-variant: small-caps;
    margin-left: auto;
    font-size: 2.5rem ;
}
p{
    color:#4b3e4d; 
    float: left;
    font-size: 1.5rem;
    text-align: justify;
}
h2{
    color: #d74f33;;
    font-size: 2rem;
}
b{
    color:#1e8c93;
}
footer{
    text-align: center;
    background-color: #4b3e4d;
    color: #dbd8a2;
}
image{
    padding-left: 80px;
    float: left;
}
.definition{
    max-width: 600px;
}