/*.header { #4b3e4d };
.textoDestacado { #1e8c93 };
.Fondo { #dbd8a2 };
.Links { #c4ac30 };
.Titulos { #d74f33 };
*/

header{
    background:#4b3e4d;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}
h1{
    text-align: center;
    color: #dbd8a2;
    font-variant: small-caps;

}
p{
    color: #d74f33;
    float: left;
    top: 110px;
}